header
  padding: 4rem 0
  position: fixed
  width: 100%
  top: 0
  left: 0
  background: #ffffff
  border-bottom: .1rem solid rgba(0, 0, 0, .1)
  z-index: 2
  transition: padding .3s ease-in-out

  &.active
    padding: 1rem 0

  nav,
  ul
    display: flex
    align-items: center
    justify-content: space-between


  .logo
    width: 12rem

  .hamburger-menu
    display: none

  .menu
    column-gap: 6rem
    li
      border-bottom: .1rem solid transparent
      &.current-menu-item,
      &:hover
        border-bottom: .1rem solid #FF7967
        a
          color: #FF7967

    a
      transition: color .3s ease-in-out
      color: #000000
      font-family: $inter-medium
      font-size: 1.6rem

  .social-links
    column-gap: 4rem
    li
      width: 2.2rem
      height: 2.2rem
      transition: background .3s ease-in-out
      a
        width: 100%
        height: 100%
        display: inline-block

  .facebook
    background: url(../img/facebook.svg) no-repeat center center/contain
    &:hover
      background: url(../img/facebook-hover.svg) no-repeat center center/contain

  .twitter
    background: url(../img/twitter.svg) no-repeat center center/contain
    &:hover
      background: url(../img/twitter-hover.svg) no-repeat center center/contain
  .instagram
    background: url(../img/instagram.svg) no-repeat center center/contain
    &:hover
      background: url(../img/instagram-hover.svg) no-repeat center center/contain

#preloader
  #path
    fill: transparent
    stroke: #000
    stroke-width: 1
    stroke-dasharray: 1028.7
    stroke-dashoffset: 1028.7
    animation: draw 7s cubic-bezier(.51,.29,.09,1) infinite, filling 7s linear infinite

  #path2
    fill: transparent
    animation: dot-fill 7s linear infinite

@keyframes draw
  100%
    stroke-dashoffset: 0

@keyframes filling
  10%
    fill: transparent
  15%
    fill: #000
  100%
    fill: #000

@keyframes dot-fill
  15%
    fill: transparent
  16%
    fill: #FF7426
  100%
    fill: #FF7426

main
  padding-top: 10.5rem



@media (max-width: 768px)
  header
    padding: 1rem 1.5rem
    &.active
      padding: .5rem 1.5rem

    .menu
      display: none

    .social-links
      column-gap: 2rem


  main
    padding-top: 4.6rem